<html>

<head>
</head>

<body>
	<div aria-label="cookieconsent"></div>
	<div class="pace"></div>
	<header></header>
	<div class="mod-finder"></div>
	<main>
		<div id="slider-intro" class="owl-carousel">
			<div class="background-slide ">
				<div class="content-slide">
					<div class="data">
						<h1 class="display-3"></h1>
						<p class="lead"></p>
						<a href="" class="btn-clear"></a>
					</div>
					<picture>
						<img src="" class="img-fluid">
					</picture>
				</div>
			</div>
		</div>

		<div class="content">
			<div class="conceptshot">
				<div class="image">
					<picture>
						<img class="img-fluid" />
					</picture>
				</div>
				<div class="data">
					<h3></h3>
					<p></p>
					<a href="/empresa" class="btn-more">
						<svg width="100%" xmlns="http://www.w3.org/2000/svg">
							<rect class="shape" height="100%" width="100%" stroke-dashoffset="NaN" stroke-dasharray="442.20000000000005,0"></rect>
						</svg>
					</a>
				</div>
			</div>
			<div class="conceptshot">...</div>
		</div>
	</main>

	<footer></footer>
	<div "flying">
		//mod-socialshare //mod-contacto //btn-totop
	</div>
	<div "modal">
	</div>
	<scripts></scripts>
</body>

</html>