.modal {
  height: auto !important;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
.modal-backdrop.fade {
  opacity: 0;
}
.modal-backdrop, .modal-backdrop.fade.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}


.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  -moz-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear;
  &.in {
    opacity: 1;
  }
}
.hide {
  display: none;
}

.modal {
  position: fixed;
  top: 5%;
  left: 50%;
  z-index: 1050;
  width: 80%;
  margin-left: -40%;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0,0,0,0.3);
  *border: 1px solid #999;
  border-radius: 6px;
  box-shadow: 0 3px 7px rgba(0,0,0,0.3);
  background-clip: padding-box;
  outline: none;
  &.fade.in {
    transition: opacity .3s linear, top .3s ease-out;
    top: 5%;
  }
}
